# DB CONFIG
## MANDATORY (DOCKER)
POSTGRES_USER=postgres
POSTGRES_PASSWORD=mysecretpassword
POSTGRES_DB=postgres
## OTHER PG CREDENTIALS
PG_HOST=localhost
PG_PORT=5432

# AI CONFIG
## NUMBER OF RESULTS FROM VECTOR SEARCH
K=5
## GEMINI AI LLM API KEY !!!
GOOGLE_API_KEY=AQ...
## AI MODEL
CHAT_MODEL=gemini-3.1-flash-lite
